// iphone 4/5
@media (max-width: 374px) {
  .open-table {
    width: 280px;
  }
}

// iphone 6/7
@media (min-width: 375px) and (max-width: 413px) {
  .open-table {
    width: 300px;
  }
}

// iphone 6plus/7plus
@media (min-width: 414px) and (max-width: 767px) {
  .open-table {
    width: 350px;
  }
}

// tablet
@media (min-width: 768px) and (max-width: 1200px) {
  .open-table {
    width: 500px;
  }
}

// desktop
@media (min-width: 1201px) {
  .open-table {
    width: 600px;
  }
}