#Footer {
  display: flex;
  background: linear-gradient(135deg, #7C071E, #500f0f);
  color: #fff;
  padding-bottom: 20px;
}

#Footer .container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  text-align: center;
}

#Footer ::selection {
  background: #fff;
  color: #7b0003;
}

#Footer ul, #Footer p {
  margin: 0;
  padding: 0;
}

#Footer h3 {
  text-shadow: 1px 1px 2px #555;
  margin: 30px 20px 0 20px;
}

#Footer a {
  color: #fff;
}

#Footer a:hover {
  text-shadow: 1px 1px 2px #fff;
  color: #fff;
}

#Footer ul {
  text-align: left;
}

#Footer ul li {
  list-style: none;
}

#Footer ul li b {
  text-shadow: 1px 1px 2px #fff;
}

/* RESPONSIVE LAYOUT */
@media (max-width: 1200px) {
  #Footer .container {
    flex-flow: column;
  }
  #Footer .container > div {
    align-self: center;
  }
}

/* RESPONSIVE FONT SIZES */
// iphone 4/5
@media (max-width: 374px) {
  #Footer h3 {
    font-size: 1.6em;
  }
  #Footer p.call-us {
    font-size: 1.9em;
  }
  #Footer p.email-us {
    font-size: 1.2em;
  }
  #Footer p.directions {
    font-size: 1em;
  }
  #Footer ul.restaurant-hours {
    font-size: 1.2em;
  }
}

// iphone 6/7
@media (min-width: 375px) and (max-width: 413px) {
  #Footer h3 {
    font-size: 2em;
  }
  #Footer p.call-us {
    font-size: 2.3em;
  }
  #Footer p.email-us {
    font-size: 1.4em;
  }
  #Footer p.directions {
    font-size: 1.2em;
  }
  #Footer ul.restaurant-hours {
    font-size: 1.3em;
  }
}

// iphone 6plus/7plus
@media (min-width: 414px) and (max-width: 767px) {
  #Footer h3 {
    font-size: 2.3em;
  }
  #Footer p.call-us {
    font-size: 2.3em;
  }
  #Footer p.email-us {
    font-size: 1.6em;
  }
  #Footer p.directions {
    font-size: 1.3em;
  }
  #Footer ul.restaurant-hours {
    font-size: 1.5em;
  }
}

// tablet
@media (min-width: 768px) and (max-width: 1199px) {
  #Footer h3 {
    font-size: 2.5em;
  }
  #Footer p.call-us {
    font-size: 2.5em;
  }
  #Footer p.email-us {
    font-size: 2em;
  }
  #Footer p.directions {
    font-size: 1.8em;
  }
  #Footer ul.restaurant-hours {
    font-size: 1.8em;
  }
}

// desktop
@media (min-width: 1200px) {
  #Footer h3 {
    font-size: 2.3em;
  }
  #Footer p {
    font-size: 1.6em;
  }
  #Footer address p {
    font-size: 1.4em;
  }
  #Footer ul.restaurant-hours {
    font-size: 1.6em;
  }
}