#Header{
  background: linear-gradient(135deg, #2f000d, #7c071e);
  display:flex;
  flex-flow: column;
  color:#fff;
}
#Header>div{
  flex:1;
  background-image: url("/img/header-compress.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}
@media (min-width: 1px) and (max-width:900px){
  #Header{
    min-height:250px;
  }
}
@media (min-width: 901px) and (max-width:1479px){
  #Header{
    min-height:300px;
  }
  #Header h1{
    font-size: 40px;
  }
}
@media (min-width: 1480px){
  #Header{
    min-height:400px;
  }
  #Header h1{
    font-size: 45px;
  }
}
