@import "./hamburger";

#Navigation {
  display: flex;
  min-height: 55px;
  background: linear-gradient(135deg, #7C071E, #500f0f);
  color: #ffffff;
}

#Navigation ul {
  border-bottom: solid #000 1px;
  display: flex;
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#Navigation ul li {
  flex: 1;
  display: flex;
  align-self: stretch;
  text-align: center;
  border-radius: 12px;
  margin: 5px;
}

#Navigation ul li a {
  flex: 1;
  text-decoration: none;
  color: #fff;
}

#Navigation ul li a:hover {
  text-shadow: #fff 0 0 10px;
}
#Navigation ul li.active {
  background: #000000 !important;
  text-shadow: #fff 0 0 10px;
  box-shadow: inset 0 0 1em #7C071E, 0 0 1em #500f0f;
  transform: rotate3d(1, 1, 1, 360deg);
  transition: transform 300ms ease-in-out, background 300ms ease-in-out 300ms, box-shadow 300ms ease-in-out 300ms, text-shadow 300ms ease-in-out 300ms;
}

@media (min-width: 1px) and (max-width: 900px) {
  #Navigation ul li {
    align-items: center;
  }
  #Navigation ul.is-active {
    height: 355px;
    visibility: visible;
    line-height: 40px;
    margin: 55px 0 0 0;
    transition: height 150ms ease-in-out;
  }
  #Navigation ul {
    visibility: hidden;
    transition: height 150ms ease-in-out;
    height: 0;
    flex: 1;
    flex-flow: column;
    font-size: 25px;
    align-items: center;
  }
  #Navigation ul li:active {
    -webkit-tap-highlight-color: #500f0f;
  }
}

@media (min-width: 901px) and (max-width: 1479px) {
  #Navigation > ul {
    font-size: 21px;
    text-align: center;
    line-height: 60px;
  }
  #Navigation ul li:nth-child(6) {
    flex: 2;
  }
}

@media (min-width: 1480px) {
  #Navigation ul {
    font-size: 31px;
    text-align: center;
    line-height: 90px;
  }
  #Navigation ul li:nth-child(6) {
    flex: 2;
  }
}
