#SocialNetworkLinks {
  display: flex;
  color: #fff;
  border-bottom: 1px #000 solid;
  border-top: 1px #000 solid;
}

#SocialNetworkLinks .container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  text-align: center;
}

#SocialNetworkLinks .container div {
  padding: 0 10px;
}
#SocialNetworkLinks a:hover {
  -webkit-filter: blur(2px);
}
