/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(/font/pacifico/m0Shgsxo4xCSzZHO6RHWxBTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(/font/pacifico/6RfRbOG3yn4TnWVTc898ERTbgVql8nDJpwnrE27mub0.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"), url(/font/pacifico/Q_Z9mv4hySLTMoMjnk_rCfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(/font/roboto/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F; }
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(/font/roboto/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116; }
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(/font/roboto/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF; }
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(/font/roboto/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0370-03FF; }
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(/font/roboto/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(/font/roboto/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(/font/roboto/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }
.signed {
  font-family: 'Pacifico', cursive;
  line-height: 0;
  font-size: 25px; }

#App {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  flex: 1; }

@media (max-width: 374px) {
  .open-table {
    width: 280px; } }
@media (min-width: 375px) and (max-width: 413px) {
  .open-table {
    width: 300px; } }
@media (min-width: 414px) and (max-width: 767px) {
  .open-table {
    width: 350px; } }
@media (min-width: 768px) and (max-width: 1200px) {
  .open-table {
    width: 500px; } }
@media (min-width: 1201px) {
  .open-table {
    width: 600px; } }
.iframe-container {
  text-align: center; }

.iframe {
  height: 60vh;
  width: 80vw;
  max-width: 840px;
  min-height: 600px;
  border: 0; }

#Main {
  display: flex;
  box-shadow: inset 0 0 1em #7b0003, 0 0 1em #7b0003; }

#Main article {
  padding: 0 20px 20px 20px;
  display: flex;
  flex: 1;
  flex-flow: column; }

#Header {
  background: linear-gradient(135deg, #2f000d, #7c071e);
  display: flex;
  flex-flow: column;
  color: #fff; }

#Header > div {
  flex: 1;
  background-image: url("/img/header-compress.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%; }

@media (min-width: 1px) and (max-width: 900px) {
  #Header {
    min-height: 250px; } }
@media (min-width: 901px) and (max-width: 1479px) {
  #Header {
    min-height: 300px; }

  #Header h1 {
    font-size: 40px; } }
@media (min-width: 1480px) {
  #Header {
    min-height: 400px; }

  #Header h1 {
    font-size: 45px; } }
#Footer {
  display: flex;
  background: linear-gradient(135deg, #7C071E, #500f0f);
  color: #fff;
  padding-bottom: 20px; }

#Footer .container {
  display: flex;
  flex: 1;
  justify-content: space-around;
  text-align: center; }

#Footer ::selection {
  background: #fff;
  color: #7b0003; }

#Footer ul, #Footer p {
  margin: 0;
  padding: 0; }

#Footer h3 {
  text-shadow: 1px 1px 2px #555;
  margin: 30px 20px 0 20px; }

#Footer a {
  color: #fff; }

#Footer a:hover {
  text-shadow: 1px 1px 2px #fff;
  color: #fff; }

#Footer ul {
  text-align: left; }

#Footer ul li {
  list-style: none; }

#Footer ul li b {
  text-shadow: 1px 1px 2px #fff; }

/* RESPONSIVE LAYOUT */
@media (max-width: 1200px) {
  #Footer .container {
    flex-flow: column; }

  #Footer .container > div {
    align-self: center; } }
/* RESPONSIVE FONT SIZES */
@media (max-width: 374px) {
  #Footer h3 {
    font-size: 1.6em; }

  #Footer p.call-us {
    font-size: 1.9em; }

  #Footer p.email-us {
    font-size: 1.2em; }

  #Footer p.directions {
    font-size: 1em; }

  #Footer ul.restaurant-hours {
    font-size: 1.2em; } }
@media (min-width: 375px) and (max-width: 413px) {
  #Footer h3 {
    font-size: 2em; }

  #Footer p.call-us {
    font-size: 2.3em; }

  #Footer p.email-us {
    font-size: 1.4em; }

  #Footer p.directions {
    font-size: 1.2em; }

  #Footer ul.restaurant-hours {
    font-size: 1.3em; } }
@media (min-width: 414px) and (max-width: 767px) {
  #Footer h3 {
    font-size: 2.3em; }

  #Footer p.call-us {
    font-size: 2.3em; }

  #Footer p.email-us {
    font-size: 1.6em; }

  #Footer p.directions {
    font-size: 1.3em; }

  #Footer ul.restaurant-hours {
    font-size: 1.5em; } }
@media (min-width: 768px) and (max-width: 1199px) {
  #Footer h3 {
    font-size: 2.5em; }

  #Footer p.call-us {
    font-size: 2.5em; }

  #Footer p.email-us {
    font-size: 2em; }

  #Footer p.directions {
    font-size: 1.8em; }

  #Footer ul.restaurant-hours {
    font-size: 1.8em; } }
@media (min-width: 1200px) {
  #Footer h3 {
    font-size: 2.3em; }

  #Footer p {
    font-size: 1.6em; }

  #Footer address p {
    font-size: 1.4em; }

  #Footer ul.restaurant-hours {
    font-size: 1.6em; } }
#SocialNetworkLinks {
  display: flex;
  color: #fff;
  border-bottom: 1px #000 solid;
  border-top: 1px #000 solid; }

#SocialNetworkLinks .container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  text-align: center; }

#SocialNetworkLinks .container div {
  padding: 0 10px; }

#SocialNetworkLinks a:hover {
  -webkit-filter: blur(2px); }

.hamburger {
  position: absolute;
  right: 0;
  height: 25px;
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent; }

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px; }

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -2px; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000; }

.hamburger--spin .hamburger-inner {
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: .22s; }

.hamburger .hamburger-inner, .hamburger .hamburger-inner:after, .hamburger .hamburger-inner:before {
  background-color: #fff; }

.hamburger--spin .hamburger-inner:before {
  transition: top .1s ease-in .25s,opacity .1s ease-in; }

.hamburger-inner:before {
  top: -10px; }

.hamburger--spin .hamburger-inner:after {
  transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger-inner:after {
  bottom: -10px; }

.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: ""; }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #000; }

.hamburger--spin.is-active .hamburger-inner {
  transition-delay: .12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: rotate(225deg); }

.hamburger--spin.is-active .hamburger-inner:before {
  top: 0;
  transition: top .1s ease-out,opacity .1s ease-out .12s;
  opacity: 0; }

.hamburger--spin.is-active .hamburger-inner:after {
  bottom: 0;
  transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
  transform: rotate(-90deg); }

@media (min-width: 901px) {
  .hamburger {
    display: none; } }
#Navigation {
  display: flex;
  min-height: 55px;
  background: linear-gradient(135deg, #7C071E, #500f0f);
  color: #ffffff; }

#Navigation ul {
  border-bottom: solid #000 1px;
  display: flex;
  flex: 1;
  list-style-type: none;
  margin: 0;
  padding: 0; }

#Navigation ul li {
  flex: 1;
  display: flex;
  align-self: stretch;
  text-align: center;
  border-radius: 12px;
  margin: 5px; }

#Navigation ul li a {
  flex: 1;
  text-decoration: none;
  color: #fff; }

#Navigation ul li a:hover {
  text-shadow: #fff 0 0 10px; }

#Navigation ul li.active {
  background: #000000 !important;
  text-shadow: #fff 0 0 10px;
  box-shadow: inset 0 0 1em #7C071E, 0 0 1em #500f0f;
  transform: rotate3d(1, 1, 1, 360deg);
  transition: transform 300ms ease-in-out, background 300ms ease-in-out 300ms, box-shadow 300ms ease-in-out 300ms, text-shadow 300ms ease-in-out 300ms; }

@media (min-width: 1px) and (max-width: 900px) {
  #Navigation ul li {
    align-items: center; }

  #Navigation ul.is-active {
    height: 355px;
    visibility: visible;
    line-height: 40px;
    margin: 55px 0 0 0;
    transition: height 150ms ease-in-out; }

  #Navigation ul {
    visibility: hidden;
    transition: height 150ms ease-in-out;
    height: 0;
    flex: 1;
    flex-flow: column;
    font-size: 25px;
    align-items: center; }

  #Navigation ul li:active {
    -webkit-tap-highlight-color: #500f0f; } }
@media (min-width: 901px) and (max-width: 1479px) {
  #Navigation > ul {
    font-size: 21px;
    text-align: center;
    line-height: 60px; }

  #Navigation ul li:nth-child(6) {
    flex: 2; } }
@media (min-width: 1480px) {
  #Navigation ul {
    font-size: 31px;
    text-align: center;
    line-height: 90px; }

  #Navigation ul li:nth-child(6) {
    flex: 2; } }
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #fff; }

#root {
  display: flex; }

::selection {
  background: #7b0003;
  color: #fff; }

p {
  font-size: 1.3em; }

h2 {
  font-size: 1.8em;
  text-shadow: 1px 1px 2px #7b0003; }

h3 {
  font-size: 1.4em;
  text-shadow: 1px 1px 2px #7b0003; }

.align-center {
  text-align: center; }

a {
  color: #7b0003; }

a:hover {
  color: #f70003;
  text-shadow: 1px 1px 2px #7b0003; }

/*# sourceMappingURL=styles.css.map */
