.Header {
  background-image: url("/img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

#Footer .col {
  text-align: center;
  min-width: 260px;
}

#Footer .col h3 {
  margin-top: 10px;
}

#Footer {
}

.open-table {
  height: 150px;
  text-align: center;
}

section h2 {
  text-align: center;
}

.iframe-container iframe {
  width: 100%;
  height: 500px
}

.restaurant-hours {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 1px) and (max-width: 500px) {
  .Header {
    height: 125px;
  }
  section h2 {
    font-size: 1.3em;
    margin: 10px 0;
  }
  section h3 {
    font-size: 1.2em;
  }
}

@media (min-width: 501px) {
  .Header {
    height: 175px;
  }
  section h2 {
    font-size: 1.7em;
    margin: 20px 0;
  }
  section h3 {
    font-size: 1.4em;
  }
}